:root {
  --color-neutral-900: #f7fafc;
  --color-neutral-800: #edf2f7;
  --color-neutral-700: #e2e8f0;
  --color-neutral-600: #cbd5e0;
  --color-neutral-500: #a0aec0;
  --color-neutral-400: #718096;
  --color-neutral-300: #4a5568;
  --color-neutral-200: #2d3748;
  --color-neutral-100: #1a202c;
  --color-neutral-000: #101218;

  --color-positive-900: #f0fff4;
  --color-positive-800: #c6f6d5;
  --color-positive-700: #9ae6b4;
  --color-positive-600: #68d391;
  --color-positive-500: #48bb78;
  --color-positive-400: #38a169;
  --color-positive-300: #2f855a;
  --color-positive-200: #276749;
  --color-positive-100: #22543d;
  --color-positive-000: var(--color-neutral-000);

  /* Yellow generally shouldn't be flipped when in dark mode. */
  /*   --color-warning-900: ivory;
  --color-warning-800: #fefcbf;
  --color-warning-700: #faf089;
  --color-warning-600: #f6e05e;
  --color-warning-500: #ecc94b;
  --color-warning-400: #d69e2e;
  --color-warning-300: #b7791f;
  --color-warning-200: #975a16;
  --color-warning-100: #744210; */

  --color-critical-900: #fff5f5;
  --color-critical-800: #fed7d7;
  --color-critical-700: #feb2b2;
  --color-critical-600: #fc8181;
  --color-critical-500: #f56565;
  --color-critical-400: #e53e3e;
  --color-critical-300: #c53030;
  --color-critical-200: #9b2c2c;
  --color-critical-100: #742a2a;
  --color-critical-000: var(--color-neutral-000);

  --color-info-900: #ebf8ff;
  --color-info-800: #bee3f8;
  --color-info-700: #90cdf4;
  --color-info-600: #63b3ed;
  --color-info-500: #4299e1;
  --color-info-400: #3182ce;
  --color-info-300: #2b6cb0;
  --color-info-200: #2c5282;
  --color-info-100: #2a4365;
  --color-info-000: var(--color-neutral-000);

  --color-urge-900: #faf5ff;
  --color-urge-800: #e9d8fd;
  --color-urge-700: #d6bcfa;
  --color-urge-600: #b794f4;
  --color-urge-500: #9f7aea;
  --color-urge-400: #805ad5;
  --color-urge-300: #6b46c1;
  --color-urge-200: #553c9a;
  --color-urge-100: #44337a;
  --color-urge-000: var(--color-neutral-000);
}
