:root {
    --color-neutral-000: #ffffff;
    --color-neutral-100: #fcfcfc;
    --color-neutral-200: #f0f0f0;
    --color-neutral-300: #c0c0c0;
    --color-neutral-400: #b0b0b0;
    --color-neutral-500: #909090;
    --color-neutral-600: #606060;
    --color-neutral-700: #303030;
    --color-neutral-800: #101010;
    --color-neutral-900: #000000;

    --color-urge-000: var(--color-neutral-000);
    --color-urge-100: var(--color-neutral-100);
    --color-urge-200: var(--color-neutral-200);
    --color-urge-300: var(--color-neutral-300);
    --color-urge-400: var(--color-neutral-400);
    --color-urge-500: var(--color-neutral-500);
    --color-urge-600: var(--color-neutral-600);
    --color-urge-700: var(--color-neutral-700);
    --color-urge-800: var(--color-neutral-800);
    --color-urge-900: var(--color-neutral-900);

    --border-radius-sm: none;
    --border-radius-default: none;
    --border-radius-md: none;
    --border-radius-lg: none;
    --border-radius-xl: none;

    /* --border-width-default: 2px;
    --border-width-2: 3px;
    --border-width-4: 5px;
    --border-width-8: 8px; */
}