.badge {
    background-color: var(--color-fill);
    color: var(--color-content);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;

    @apply rounded py-px px-1 font-semibold;
}