.badge {
    background-color: var(--color-fill);
    color: var(--color-content);
    display: inline-flex;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    justify-content: center;
    font-size: var(--badge-size, 0.6rem);

    @apply px-1 py-px font-medium rounded font-secondary;
}