.chip {
    background-color: var(--color-fill);
    color: var(--color-content);
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;

    @apply rounded px-2 py-1 text-xs;
}