.icon {
    color: var(--color-content);
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: inline-flex;
    width: var(--icon-width, 1em);
    height: var(--icon-height, 1em);
    fill: var(--color-content);
}