.loading {
  pointer-events: none;
  color: var(--color-transparent) !important;

  &::after {
    animation: spin 500ms infinite linear;
    border: 2px solid var(--color-content);
    border-color: var(--color-transparent) var(--color-transparent)
      var(--color-content) var(--color-content);
    content: "";
    height: 0.85em;
    width: 0.85em;
    right: calc(50% - (1em / 2));
    overflow: visible;
    position: absolute;

    @apply rounded-full relative inset-y-0 mx-auto;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
