.progress {
  appearance: none;
  height: var(--progress-height, 1em);
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 0;
  border: none;
  writing-mode: horizontal-tb;

  &::-webkit-progress-bar {
    background-color: var(
      --progress-background-color,
      theme("colors.neutral.300")
    );
  }

  &::-webkit-progress-value {
    background-color: var(--color-core);
    border: none;
  }

  &::selection {
    background-color: var(--color-core);
    border: none;
  }

  &::-moz-progress-bar {
    background-color: var(--color-core);
    border: none;
  }

  &::-ms-fill {
    background-color: var(--color-core);
    border: none;
  }

  @apply rounded-full;
}
