.shield {
    background-color: var(--color-fill);
    color: var(--color-content);
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    padding: var(--shield-padding-x, 1rem) var(--shield-padding-y, 1rem);

    @apply rounded-full;
}