.table {
  @apply w-full max-w-full overflow-auto border-collapse font-secondary;

  thead {
    @apply border-b;
  }

  tfoot {
    @apply border-t;
  }

  tr {
    @apply table-row;

    vertical-align: inherit;
    border-color: inherit;
  }

  td,
  th {
    @apply table-cell p-2 text-left;
  }

  th {
    color: var(--color-title);
    
    @apply font-semibold;
  }
}
