.content {
  line-height: var(--body-line-height, 1.5);
  font-family: var(--family-primary);

  /* How this works: everything has a y-margin of 3; special elements,
     like headings, blockquotes, and preformatted code blocks, have 
     special spacing to help them fit better visually. When editing this
     file, be mindful of how various elements' spacing might interact and
     overlap. */

  > *:not(:last-child) {
    @apply mb-3;
  }

  > *:not(:first-child) {
    @apply mt-3;
  }

  @each $h in h1, h2, h3, h4, h5, h6 {
    $(h) {
      @apply heading;
    }
  }

  @each $h in h1, h2, h3, h4, h5, h6 {
    $(h) {
      @apply heading;
    }
  }

  h1:not(:first-child) {
    @apply mt-12;
  }

  h2:not(:first-child) {
    @apply mt-10;
  }

  h3:not(:first-child) {
    @apply mt-8;
  }

  @each $h in h4, h5, h6 {
    $(h):not(:first-child) {
      @apply mt-6;
    }
  }

  code {
    @apply code;
  }

  pre {
    @apply pre overflow-auto;
  }

  code,
  kbd {
    @apply mx-px;
  }

  pre code {
    @apply mx-0;
  }

  kbd {
    @apply kbd;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  li {
    display: list-item;
    text-align: left;
  }

  ol,
  ul {
    @apply block ml-8;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  a:not(.button):not(.portal) {
    color: inherit;
    text-decoration: underline;
  }

  strong {
    color: var(--color-title);

    @apply font-medium;
  }

  b {
    @apply font-semibold;
  }

  blockquote {
    @apply aside ~neutral !normal my-5;

    cite {
      @apply support not-italic block mt-1;
    }
  }

  table {
    @apply table;
  }
}
