:root {
  --color-transparent: theme("colors.transparent");

  /* NEUTRAL */
  --color-neutral: theme("colors.neutral.600");
  --color-neutral-light: theme("colors.neutral.300");

  --color-neutral-low-title: theme("colors.neutral.900");
  --color-neutral-low-content: theme("colors.neutral.700");
  --color-neutral-low-fill: theme("colors.transparent");
  --color-neutral-low-background: theme("colors.neutral.000");
  --color-neutral-low-muted: theme("colors.neutral.700");

  --color-neutral-normal-content: theme("colors.neutral.800");
  --color-neutral-normal-fill: theme("colors.neutral.200");
  --color-neutral-normal-background: theme("colors.neutral.100");
  --color-neutral-normal-muted: theme("colors.neutral.700");

  --color-neutral-high-content: theme("colors.neutral.000");
  --color-neutral-high-fill: theme("colors.neutral.700");
  --color-neutral-high-muted: theme("colors.neutral.300");

  /* POSITIVE */
  --color-positive: theme("colors.positive.500");

  --color-positive-low-title: theme("colors.positive.700");
  --color-positive-low-content: theme("colors.positive.600");
  --color-positive-low-fill: theme("colors.transparent");
  --color-positive-low-background: theme("colors.positive.000");
  --color-positive-low-muted: theme("colors.positive.500");

  --color-positive-normal-content: theme("colors.positive.800");
  --color-positive-normal-fill: theme("colors.positive.200");
  --color-positive-normal-background: theme("colors.positive.100");
  --color-positive-normal-muted: theme("colors.positive.600");

  --color-positive-high-content: theme("colors.positive.000");
  --color-positive-high-fill: theme("colors.positive.500");
  --color-positive-high-muted: theme("colors.positive.100");

  /* WARNING */
  --color-warning: theme("colors.warning.500");

  --color-warning-low-title: theme("colors.warning.800");
  --color-warning-low-content: theme("colors.warning.700");
  --color-warning-low-fill: theme("colors.transparent");
  --color-warning-low-background: theme("colors.warning.000");
  --color-warning-low-muted: theme("colors.warning.600");

  --color-warning-normal-content: theme("colors.warning.800");
  --color-warning-normal-fill: theme("colors.warning.200");
  --color-warning-normal-background: theme("colors.warning.100");
  --color-warning-normal-muted: theme("colors.warning.600");

  --color-warning-high-content: theme("colors.warning.900");
  --color-warning-high-fill: theme("colors.warning.400");
  --color-warning-high-muted: theme("colors.warning.800");

  /* CRITICAL */
  --color-critical: theme("colors.critical.500");

  --color-critical-low-title: theme("colors.critical.700");
  --color-critical-low-content: theme("colors.critical.600");
  --color-critical-low-fill: theme("colors.transparent");
  --color-critical-low-background: theme("colors.critical.000");
  --color-critical-low-muted: theme("colors.critical.500");

  --color-critical-normal-content: theme("colors.critical.800");
  --color-critical-normal-fill: theme("colors.critical.200");
  --color-critical-normal-background: theme("colors.critical.100");
  --color-critical-normal-muted: theme("colors.critical.600");

  --color-critical-high-content: theme("colors.critical.000");
  --color-critical-high-fill: theme("colors.critical.500");
  --color-critical-high-muted: theme("colors.critical.100");

  /* INFO */
  --color-info: theme("colors.info.500");

  --color-info-low-title: theme("colors.info.700");
  --color-info-low-content: theme("colors.info.600");
  --color-info-low-fill: theme("colors.transparent");
  --color-info-low-background: theme("colors.info.000");
  --color-info-low-muted: theme("colors.info.500");

  --color-info-normal-content: theme("colors.info.800");
  --color-info-normal-fill: theme("colors.info.200");
  --color-info-normal-background: theme("colors.info.100");
  --color-info-normal-muted: theme("colors.info.600");

  --color-info-high-content: theme("colors.info.000");
  --color-info-high-fill: theme("colors.info.500");
  --color-info-high-muted: theme("colors.info.100");

  /* URGE */
  --color-urge: theme("colors.urge.600");

  --color-urge-low-title: theme("colors.urge.700");
  --color-urge-low-content: theme("colors.urge.600");
  --color-urge-low-fill: theme("colors.transparent");
  --color-urge-low-background: theme("colors.urge.000");
  --color-urge-low-muted: theme("colors.urge.500");

  --color-urge-normal-content: theme("colors.urge.800");
  --color-urge-normal-fill: theme("colors.urge.200");
  --color-urge-normal-background: theme("colors.urge.100");
  --color-urge-normal-muted: theme("colors.urge.600");

  --color-urge-high-content: theme("colors.urge.000");
  --color-urge-high-fill: theme("colors.urge.600");
  --color-urge-high-muted: theme("colors.urge.100");

  /* APPLICATIONS */
  --color-fill: theme("colors.transparent");
  --color-background: theme("colors.neutral.100");

  /* DEFAULTS */
  --color-content: var(--color-neutral-low-content);
  --color-light: var(--color-neutral-light);
  --color-title: var(--color-neutral-low-title);
  --color-icon: var(--color-content);
  --color-muted: var(--color-neutral-low-muted);
  --color-core: var(--color-neutral);
}
