:root {
  @each $tone in neutral, positive, warning, critical, info, urge {
    @each $val in 000, 100, 200, 300, 400, 500, 600, 700, 800, 900 {
      --color-$(tone)-$(val)-fallback: theme("colors.$tone.$val");
    }
  }

  --color-transparent: theme("colors.transparent");

  /* NEUTRAL */
  --color-neutral: var(--color-neutral-600-fallback);
  --color-neutral-light: var(--color-neutral-300-fallback);

  --color-neutral-low-title: var(--color-neutral-900-fallback);
  --color-neutral-low-content: var(--color-neutral-700-fallback);
  --color-neutral-low-fill: theme("colors.transparent");
  --color-neutral-low-background: var(--color-neutral-000-fallback);
  --color-neutral-low-muted: var(--color-neutral-700-fallback);

  --color-neutral-normal-content: var(--color-neutral-800-fallback);
  --color-neutral-normal-fill: var(--color-neutral-200-fallback);
  --color-neutral-normal-background: var(--color-neutral-100-fallback);
  --color-neutral-normal-muted: var(--color-neutral-700-fallback);

  --color-neutral-high-content: var(--color-neutral-000-fallback);
  --color-neutral-high-fill: var(--color-neutral-700-fallback);
  --color-neutral-high-muted: var(--color-neutral-300-fallback);

  /* POSITIVE */
  --color-positive: var(--color-positive-500-fallback);

  --color-positive-low-title: var(--color-positive-700-fallback);
  --color-positive-low-content: var(--color-positive-600-fallback);
  --color-positive-low-fill: theme("colors.transparent");
  --color-positive-low-background: var(--color-positive-000-fallback);
  --color-positive-low-muted: var(--color-positive-500-fallback);

  --color-positive-normal-content: var(--color-positive-800-fallback);
  --color-positive-normal-fill: var(--color-positive-200-fallback);
  --color-positive-normal-background: var(--color-positive-100-fallback);
  --color-positive-normal-muted: var(--color-positive-600-fallback);

  --color-positive-high-content: var(--color-positive-000-fallback);
  --color-positive-high-fill: var(--color-positive-500-fallback);
  --color-positive-high-muted: var(--color-positive-100-fallback);

  /* WARNING */
  --color-warning: var(--color-warning-500-fallback);

  --color-warning-low-title: var(--color-warning-800-fallback);
  --color-warning-low-content: var(--color-warning-700-fallback);
  --color-warning-low-fill: theme("colors.transparent");
  --color-warning-low-background: var(--color-warning-000-fallback);
  --color-warning-low-muted: var(--color-warning-600-fallback);

  --color-warning-normal-content: var(--color-warning-800-fallback);
  --color-warning-normal-fill: var(--color-warning-200-fallback);
  --color-warning-normal-background: var(--color-warning-100-fallback);
  --color-warning-normal-muted: var(--color-warning-600-fallback);

  --color-warning-high-content: var(--color-warning-900-fallback);
  --color-warning-high-fill: var(--color-warning-400-fallback);
  --color-warning-high-muted: var(--color-warning-800-fallback);

  /* CRITICAL */
  --color-critical: var(--color-critical-500-fallback);

  --color-critical-low-title: var(--color-critical-700-fallback);
  --color-critical-low-content: var(--color-critical-600-fallback);
  --color-critical-low-fill: theme("colors.transparent");
  --color-critical-low-background: var(--color-critical-000-fallback);
  --color-critical-low-muted: var(--color-critical-500-fallback);

  --color-critical-normal-content: var(--color-critical-800-fallback);
  --color-critical-normal-fill: var(--color-critical-200-fallback);
  --color-critical-normal-background: var(--color-critical-100-fallback);
  --color-critical-normal-muted: var(--color-critical-600-fallback);

  --color-critical-high-content: var(--color-critical-000-fallback);
  --color-critical-high-fill: var(--color-critical-500-fallback);
  --color-critical-high-muted: var(--color-critical-100-fallback);

  /* INFO */
  --color-info: var(--color-info-500-fallback);

  --color-info-low-title: var(--color-info-700-fallback);
  --color-info-low-content: var(--color-info-600-fallback);
  --color-info-low-fill: theme("colors.transparent");
  --color-info-low-background: var(--color-info-000-fallback);
  --color-info-low-muted: var(--color-info-500-fallback);

  --color-info-normal-content: var(--color-info-800-fallback);
  --color-info-normal-fill: var(--color-info-200-fallback);
  --color-info-normal-background: var(--color-info-100-fallback);
  --color-info-normal-muted: var(--color-info-600-fallback);

  --color-info-high-content: var(--color-info-000-fallback);
  --color-info-high-fill: var(--color-info-500-fallback);
  --color-info-high-muted: var(--color-info-100-fallback);

  /* URGE */
  --color-urge: var(--color-urge-600-fallback);

  --color-urge-low-title: var(--color-urge-700-fallback);
  --color-urge-low-content: var(--color-urge-600-fallback);
  --color-urge-low-fill: theme("colors.transparent");
  --color-urge-low-background: var(--color-urge-000-fallback);
  --color-urge-low-muted: var(--color-urge-500-fallback);

  --color-urge-normal-content: var(--color-urge-800-fallback);
  --color-urge-normal-fill: var(--color-urge-200-fallback);
  --color-urge-normal-background: var(--color-urge-100-fallback);
  --color-urge-normal-muted: var(--color-urge-600-fallback);

  --color-urge-high-content: var(--color-urge-000-fallback);
  --color-urge-high-fill: var(--color-urge-600-fallback);
  --color-urge-high-muted: var(--color-urge-100-fallback);

  /* APPLICATIONS */
  --color-fill: theme("colors.transparent");
  --color-background: var(--color-neutral-100-fallback);

  /* DEFAULTS */
  --color-content: var(--color-neutral-low-content);
  --color-light: var(--color-neutral-light);
  --color-title: var(--color-neutral-low-title);
  --color-icon: var(--color-content);
  --color-muted: var(--color-neutral-low-muted);
  --color-core: var(--color-neutral);
}
