:root {
  --color-transparent: theme("colors.transparent");

  /* NEUTRAL */
  --color-neutral: theme("colors.gray.600");
  --color-neutral-light: theme("colors.gray.400");

  --color-neutral-low-content: theme("colors.gray.800");
  --color-neutral-low-fill: theme("colors.white");
  --color-neutral-low-muted: theme("colors.gray.600");

  --color-neutral-normal-content: theme("colors.gray.800");
  --color-neutral-normal-fill: theme("colors.gray.200");
  --color-neutral-normal-background: theme("colors.gray.100");
  --color-neutral-normal-muted: theme("colors.gray.600");

  --color-neutral-high-content: theme("colors.white");
  --color-neutral-high-fill: theme("colors.gray.700");
  --color-neutral-high-muted: theme("colors.gray.300");

  /* POSITIVE */
  --color-positive: theme("colors.green.500");

  --color-positive-low-content: theme("colors.green.800");
  --color-positive-low-fill: theme("colors.white");
  --color-positive-low-muted: theme("colors.green.600");

  --color-positive-normal-content: theme("colors.green.800");
  --color-positive-normal-fill: theme("colors.green.200");
  --color-positive-normal-background: theme("colors.green.100");
  --color-positive-normal-muted: theme("colors.green.600");

  --color-positive-high-content: theme("colors.white");
  --color-positive-high-fill: var(--color-positive);
  --color-positive-high-muted: theme("colors.green.100");

  /* WARNING */
  --color-warning: theme("colors.yellow.500");

  --color-warning-low-content: theme("colors.yellow.700");
  --color-warning-low-fill: theme("colors.white");
  --color-warning-low-muted: theme("colors.yellow.600");

  --color-warning-normal-content: theme("colors.yellow.800");
  --color-warning-normal-fill: theme("colors.yellow.200");
  --color-warning-normal-background: theme("colors.yellow.100");
  --color-warning-normal-muted: theme("colors.yellow.600");

  --color-warning-high-content: theme("colors.yellow.900");
  --color-warning-high-fill: theme("colors.yellow.400");
  --color-warning-high-muted: theme("colors.yellow.800");

  /* CRITICAL */
  --color-critical: theme("colors.red.500");

  --color-critical-low-content: theme("colors.red.600");
  --color-critical-low-fill: theme("colors.white");
  --color-critical-low-muted: theme("colors.red.500");

  --color-critical-normal-content: theme("colors.red.800");
  --color-critical-normal-fill: theme("colors.red.200");
  --color-critical-normal-background: theme("colors.red.100");
  --color-critical-normal-muted: theme("colors.red.600");

  --color-critical-high-content: theme("colors.white");
  --color-critical-high-fill: var(--color-critical);
  --color-critical-high-muted: theme("colors.red.100");

  /* INFO */
  --color-info: theme("colors.blue.500");

  --color-info-low-content: theme("colors.blue.600");
  --color-info-low-fill: theme("colors.white");
  --color-info-low-muted: theme("colors.blue.500");

  --color-info-normal-content: theme("colors.blue.800");
  --color-info-normal-fill: theme("colors.blue.200");
  --color-info-normal-background: theme("colors.blue.100");
  --color-info-normal-muted: theme("colors.blue.600");

  --color-info-high-content: theme("colors.white");
  --color-info-high-fill: var(--color-info);
  --color-info-high-muted: theme("colors.blue.100");

  /* URGE */
  --color-urge: theme("colors.purple.600");

  --color-urge-low-content: theme("colors.purple.600");
  --color-urge-low-fill: theme("colors.white");
  --color-urge-low-muted: theme("colors.purple.500");

  --color-urge-normal-content: theme("colors.purple.800");
  --color-urge-normal-fill: theme("colors.purple.200");
  --color-urge-normal-background: theme("colors.purple.100");
  --color-urge-normal-muted: theme("colors.purple.600");

  --color-urge-high-content: theme("colors.white");
  --color-urge-high-fill: var(--color-urge);
  --color-urge-high-muted: theme("colors.purple.100");

  /* DEFAULTS and APPLICATIONS */
  --color-content: theme("colors.gray.700");
  --color-fill: var(--color-transparent);
  --color-background: var(--color-transparent);
  --color-muted: var(--color-neutral-low-muted);
  --color-core: var(--color-neutral);
  --color-light: var(--color-neutral-light);
  --color-title: theme("colors.gray.900");
  --color-icon: var(--color-content);
  --fallback-box-shadow-low: 0 0 0 0 rgba(0, 0, 0, 0);
  --fallback-box-shadow-normal: theme("boxShadow.default");
  --fallback-box-shadow-high: theme("boxShadow.md");
  --fallback-box-shadow: var(--fallback-box-shadow-normal);
}
