.input {
    border-color: var(--color-light);
    transition: box-shadow 50ms linear;
    display: inline-flex;

    &:hover {
        box-shadow: 0 0 1px 1px var(--color-light) !important;
    }

    &:focus {
        box-shadow: 0 0 0 2px var(--color-core) !important;

        @apply outline-none;
    }

    /* TODO: define these shadows in a more idiomatic way */

    &.\!low {
        @apply shadow-none;
    }
    &.\!high {
        @apply shadow-md;
    }

    @apply appearance-none border shadow rounded w-full py-2 px-4 leading-tight bg-white;
}