.button {
  background-color: var(--color-fill);
  color: var(--color-content);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  line-height: var(--button-line-height, 1.5);
  white-space: nowrap;
  transition: filter var(--button-transition-speed, 75ms) linear;
  transform-origin: center;
  text-decoration: none;

  @apply rounded py-1 px-2 outline-none;

  &:hover,
  &:focus {
    &:not([disabled]):not(.field) {
      /* We don't apply to button fields, because fields have
      their own way of denoting state. */
      filter: brightness(var(--button-filter-brightness, 95%));
    }
  }

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
