.button {
    background-color: var(--color-fill);
    color: var(--color-content);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1.5;
    white-space: nowrap;
    padding: 0.3em 0.6em;
    transition: box-shadow 50ms;
    transition: transform 50ms;

    @apply rounded-md;

    &:hover:not([disabled]) {
        transform: scale(1.05);
        @apply shadow;
    }

    @media (prefers-reduced-motion: reduce) {
        &:hover {
            transform: none !important;
        }
    }

    &[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
    }
}