.dropdown {
  position: relative;
  z-index: 1;

  .dropdown-display {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: opacity var(--dropdown-animation-speed, 100ms);
    display: block;
    z-index: 10;
  }

  &:hover, &:focus, &:focus-within, &.selected {
    .dropdown-display {
      visibility: visible;
      opacity: 1;

      @apply cursor-default;
    }
  }
}
