.dropdown {
  position: relative;

  .dropdown-display {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: opacity 200ms;
  }

  &:hover, &:focus, &:focus-within {
    .dropdown-display {
      visibility: visible;
      opacity: 1;
    }
  }
}
