.dropdown {
  z-index: 1;

  @apply relative cursor-pointer;

  .dropdown-display {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: opacity var(--dropdown-animation-speed, 100ms);
    display: block;
    z-index: 10;
  }

  &:not(.manual) {
    &:hover,
    &:focus,
    &:focus-within {
      .dropdown-display {
        visibility: visible;
        opacity: 1;

        @apply cursor-default;
      }
    }
  }

  &.selected {
    .dropdown-display {
      visibility: visible;
      opacity: 1;

      @apply cursor-default;
    }
  }
}