.field {
  border-color: var(--color-light);
  transition: box-shadow var(--field-shadow-transition-speed, 75ms) ease-out;
  display: inline-flex;
  box-shadow: var(--fallback-box-shadow);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &[disabled] {
    cursor: not-allowed;
    background-color: var(--color-light);
    opacity: var(--field-disabled-opacity, 0.8);
  }

  &[readonly] {
    @apply select-all;
  }

  &:hover {
    box-shadow: var(--field-hover-box-shadow, 0 0 1px 1px var(--color-light)),
      var(--fallback-box-shadow);
  }

  &:focus {
    box-shadow: var(--field-focus-box-shadow, 0 0 0 2px var(--color-core)),
      var(--fallback-box-shadow);

    @apply outline-none;
  }

  @apply border rounded max-w-full w-full p-2 leading-tight bg-white inline-flex;
}
