.field {
  border-color: var(--color-light);
  transition: box-shadow var(--field-transition-speed, 75ms) ease-out, border var(--field-transition-speed, 75ms) ease-out;
  box-shadow: var(--fallback-box-shadow);
  appearance: none;
  background-color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;

  &[disabled] {
    cursor: not-allowed;
    opacity: var(--field-disabled-opacity, 0.6);
  }

  &[readonly] {
    @apply select-all;
  }

  &::placeholder {
    @apply opacity-75;
  }

  &:hover {
    box-shadow: var(--field-hover-box-shadow, 0 0 0 theme("borderWidth.DEFAULT") var(--color-light)),
      var(--fallback-box-shadow);
  }

  &:focus {
    box-shadow: var(--field-focus-box-shadow, 0 0 0 theme("borderWidth.2") var(--color-light)),
      var(--fallback-box-shadow);

    @apply outline-none;
  }

  @apply inline-flex w-full max-w-full p-2 leading-tight border rounded font-secondary;
}
