.portal {
  display: inline-flex;
  align-items: left;
  justify-content: left;
  cursor: pointer;
  white-space: nowrap;
  padding: var(--portal-padding, 0.15em 0.5em);
  transition: color var(--portal-transition-speed, 75ms) linear;
  text-decoration: none;

  @apply font-medium rounded-full font-secondary;

  &:hover,
  &:focus {
    &:not([disabled]) {
      color: var(--portal-focus-color, var(--color-title));
    }
  }

  &[disabled] {
    opacity: var(--portal-disabled-opacity, 0.6);
    cursor: not-allowed;
  }

  &.active {
    background-color: var(--color-fill);
    color: var(--color-content);

    &:hover {
      filter: none !important;
    }
  }
}
