.chev {
  z-index: 10;
  border: var(--chev-width, 1.5px) solid var(--color-icon, var(--color-core));
  height: var(--chev-size, 0.5em);
  width: var(--chev-size, 0.5em);
  margin-top: calc(var(--chev-size, 0.5em) - 20%);
  transform: rotate(45deg);
  transform-origin: top;
  top: 50%;
  content: " ";

  @apply border-t-0 border-l-0 pointer-events-none my-auto inset-y-0 self-center;
}
