@tailwind base;
@tailwind components;
@tailwind utilities;

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
    color: var(--color-urge-core);
}

.dark-only {
    display: none;
}

.highlight .hll { background-color: var(--color-warning-100-fallback) }
.highlight .c { color: var(--color-neutral-600-fallback); font-style: italic } /* Comment */
.highlight .err { color: var(--color-warning-700-fallback); background-color: #e3d2d2 } /* Error */
.highlight .k { color: var(--color-neutral-900-fallback); font-weight: bold } /* Keyword */
.highlight .o { color: var(--color-neutral-900-fallback); font-weight: bold } /* Operator */
.highlight .cm { color: var(--color-neutral-600-fallback); font-style: italic } /* Comment.Multiline */
.highlight .cp { color: var(--color-neutral-600-fallback); font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: var(--color-neutral-600-fallback); font-style: italic } /* Comment.Single */
.highlight .cs { color: var(--color-neutral-600-fallback); font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: var(--color-neutral-900-fallback); background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: var(--color-neutral-900-fallback); font-style: italic } /* Generic.Emph */
.highlight .gr { color: var(--color-warning-500-fallback) } /* Generic.Error */
.highlight .gh { color: var(--color-neutral-600-fallback) } /* Generic.Heading */
.highlight .gi { color: var(--color-neutral-900-fallback); background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: var(--color-neutral-700-fallback) } /* Generic.Output */
.highlight .gp { color: var(--color-neutral-700-fallback) } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: var(--color-neutral-700-fallback) } /* Generic.Subheading */
.highlight .gt { color: var(--color-warning-500-fallback) } /* Generic.Traceback */
.highlight .kc { color: var(--color-neutral-900-fallback); font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: var(--color-neutral-900-fallback); font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: var(--color-neutral-900-fallback); font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: var(--color-neutral-900-fallback); font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: var(--color-neutral-900-fallback); font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: var(--color-urge-800-fallback); font-weight: bold } /* Keyword.Type */
.highlight .m { color: var(--color-info-700-fallback) } /* Literal.Number */
.highlight .s { color: var(--color-positive-600-fallback) } /* Literal.String */
.highlight .na { color: var(--color-info-700-fallback) } /* Name.Attribute */
.highlight .nb { color: var(--color-info-700-fallback) } /* Name.Builtin */
.highlight .nc { color: var(--color-urge-800-fallback); font-weight: bold } /* Name.Class */
.highlight .no { color: var(--color-info-700-fallback) } /* Name.Constant */
.highlight .nd { color: var(--color-neutral-700-fallback); font-weight: bold } /* Name.Decorator */
.highlight .ni { color: var(--color-urge-700-fallback) } /* Name.Entity */
.highlight .ne { color: var(--color-critical-600-fallback); font-weight: bold } /* Name.Exception */
.highlight .nf { color: var(--color-critical-600-fallback); font-weight: bold } /* Name.Function */
.highlight .nl { color: var(--color-critical-600-fallback); font-weight: bold } /* Name.Label */
.highlight .nn { color: var(--color-neutral-700-fallback) } /* Name.Namespace */
.highlight .nt { color: var(--color-info-800-fallback) } /* Name.Tag */
.highlight .nv { color: var(--color-info-700-fallback) } /* Name.Variable */
.highlight .ow { color: var(--color-neutral-900-fallback); font-weight: bold } /* Operator.Word */
.highlight .w { color: var(--color-info-900-fallback) } /* Text.Whitespace */
.highlight .mf { color: var(--color-info-700-fallback) } /* Literal.Number.Float */
.highlight .mh { color: var(--color-info-700-fallback) } /* Literal.Number.Hex */
.highlight .mi { color: var(--color-info-700-fallback) } /* Literal.Number.Integer */
.highlight .mo { color: var(--color-info-700-fallback) } /* Literal.Number.Oct */
.highlight .sb { color: var(--color-positive-600-fallback) } /* Literal.String.Backtick */
.highlight .sc { color: var(--color-positive-600-fallback) } /* Literal.String.Char */
.highlight .sd { color: var(--color-positive-600-fallback) } /* Literal.String.Doc */
.highlight .s2 { color: var(--color-positive-600-fallback) } /* Literal.String.Double */
.highlight .se { color: var(--color-positive-600-fallback) } /* Literal.String.Escape */
.highlight .sh { color: var(--color-positive-600-fallback) } /* Literal.String.Heredoc */
.highlight .si { color: var(--color-positive-600-fallback) } /* Literal.String.Interpol */
.highlight .sx { color: var(--color-positive-600-fallback) } /* Literal.String.Other */
.highlight .sr { color: var(--color-positive-700-fallback) } /* Literal.String.Regex */
.highlight .s1 { color: var(--color-positive-600-fallback) } /* Literal.String.Single */
.highlight .ss { color: var(--color-critical-800-fallback) } /* Literal.String.Symbol */
.highlight .bp { color: var(--color-neutral-600-fallback) } /* Name.Builtin.Pseudo */
.highlight .vc { color: var(--color-info-700-fallback) } /* Name.Variable.Class */
.highlight .vg { color: var(--color-info-700-fallback) } /* Name.Variable.Global */
.highlight .vi { color: var(--color-info-700-fallback) } /* Name.Variable.Instance */
.highlight .il { color: var(--color-info-700-fallback) } /* Literal.Number.Integer.Long */