@import './vars/_color.css';
@import './vars/_typography.css';

@import './layout/card.css';
@import './layout/section.css';
@import './layout/sep.css';
@import './layout/aside.css';

@import './typography/content.css';
@import './typography/heading.css';
@import './typography/label.css';
@import './typography/subheading.css';
@import './typography/support.css';
@import './typography/supra.css';

@import './information/chip.css';
@import './information/badge.css';
@import './information/icon.css';
@import './information/loading.css';
@import './information/progress.css';


.a17t {
    text-rendering: var(--text-rendering-mode);
    min-height: var(--min-height);
    font-family: var(--family-primary);
    color: var(--color-content);
}


@each $tone in neutral, positive, warning, critical, info, urge {
    .\~$(tone) {
        --color-content: var(--color-$(tone)-normal-content);
        --color-fill: var(--color-$(tone)-normal-fill);
        --color-muted: var(--color-$(tone)-normal-muted);
        --color-title: var(--color-$(tone)-normal-content);
        --color-core: var(--color-$(tone));
    }

    @each $priority in low, normal, high {
        .\~$(tone).\!$(priority) {
            --color-content: var(--color-$(tone)-$(priority)-content);
            --color-fill: var(--color-$(tone)-$(priority)-fill);
            --color-muted: var(--color-$(tone)-$(priority)-muted);
            --color-title: var(--color-$(tone)-$(priority)-content);
        }
    }
}