.aside {
  border-left: var(--aside-border-width, 3px) solid var(--color-muted);
  color: var(--color-content);
  background-color: var(--color-background);
  text-decoration-color: var(--color-muted);

  @apply p-4 rounded-lg rounded-l overflow-hidden;
}
